.book-meeting-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

.form-block {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.btn-book-now {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

    .btn-book-now:hover {
        background-color: #0056b3;
    }
