body {
    background-image: url("https://media.licdn.com/dms/image/C4D12AQFvR6webwTsKw/article-cover_image-shrink_720_1280/0/1533823206296?e=2147483647&v=beta&t=wZN4Py-PYNTGQa6WCk1HVhivWC8SWcoIYFN1LdI1b9A");
    background-size: cover;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

.register-container {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .register-container h2 {
        margin-bottom: 20px;
    }

    .register-container input, .register-container select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .register-container select:disabled {
        background-color: #eaeaea;
        color: #a9a9a9;
        filter: blur(1px);
    }

#addSpecialtyButton {
    margin-bottom: 10px;
}

#selectedSpecialtiesList {
    list-style-type: none;
    padding: 0;
}

    #selectedSpecialtiesList li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding: 5px;
        background-color: #f0f0f0;
        border-radius: 4px;
    }

    #selectedSpecialtiesList button {
        margin-left: 10px;
        color: red;
        border: none;
        background: none;
        cursor: pointer;
    }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}