@page
@model WebApp.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";

    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-success">
            @ViewData["Message"]
        </div>
    }
}

<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            <input asp-for="Email" placeholder="Email" required />
            <span asp-validation-for="Email"></span>
            
            <input asp-for="Password" type="password" placeholder="Password" required />
            <span asp-validation-for="Password"></span>

            <button type="submit">Login</button>
        </form>
    </div>
</body>